<div class="scheme display-flex">
  <div class="scheme_toolbar">
    <app-scheme-toolbar></app-scheme-toolbar>
  </div>
  <div class="scheme_map">
    <app-scheme-map></app-scheme-map>
  </div>
</div>
