@import '../../../scss-variables/variables';

.scheme {
  width: 1100px;
  height: 600px;
  border: 2px solid $dark;
  border-radius: $default-radius;

  .scheme_toolbar {
    flex: 1;
  }

  .scheme_map {
    flex: 3;
  }
}
