<div class="toolbar display-flex-column">
  <h2 class="toolbar-title">Toolbar</h2>
  <div class="toolbar_functions-container display-flex">
    <div class="toolbar_functions-container_function display-flex-column">
      <p>Add house</p>
      <div class="toolbar_functions-container_house"></div>
    </div>
    <div
      class="toolbar_functions-container_function display-flex-column"
      appEmitterForCreateBuilding [typeCreatingBuilding]="'station'"
      (onCreateBuilding)="onCreateBuilding($event)"
    >
      <p>Add station</p>
      <div class="toolbar_functions-container_power-station"></div>
    </div>
  </div>
</div>

<ng-container *ngIf="(createBuildingType$|async) === 'station'">
  <app-scheme-builder-station-block></app-scheme-builder-station-block>
</ng-container>

<ng-container>
  <app-scheme-builder-house-block></app-scheme-builder-house-block>
</ng-container>
