@import '../../../../scss-variables/variables';

.toolbar {
  border-right: 2px solid $dark;
  height: 100%;
  background: $white;
  border-top-left-radius: $default-radius;
  border-bottom-left-radius: $default-radius;
  align-items: center;

  .toolbar-title {
    margin-top: 10px;
    font-weight: 400;
  }

  .toolbar_functions-container {
    justify-content: space-around;
    width: 100%;

    .toolbar_functions-container_function {
      font-size: 18px;
      width: 120px;
      border: 1px solid $dark;
      border-radius: $default-radius;
      align-items: center;
      padding: 5px;
      cursor: pointer;
    }
  }
}

.toolbar_functions-container_house {
  width: 70px;
  height: 70px;
  border: 2px solid $dark;
}

.toolbar_functions-container_power-station {
  width: 100px;
  height: 70px;
  border: 2px solid $dark;
}
