@import '../../../../scss-variables/variables';

.map {
  position: relative;
  background-color: $silver-light;
  height: 100%;
  border-top-right-radius: $default-radius;
  border-bottom-right-radius: $default-radius;
}
